<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="{{ 'index.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
</head>

<body class="template-{{ request.page_type | handle }}">

    <main id="app">
        {{ content_for_layout }}
    </main>

</body>
</html>
